template(name="home")
  .container
    .row
      .col-lg-8.col-lg-offset-2
        h1 Welcome to Ticket Chat
        h2 Chat with Ticket listeners, Tweets from hosts, and more!
        h3 Please login with Twitter
        img.center-block(class="img-responsive" src="/img/ticketlogo.svg")