template(name="shows")
  .row
    .col-lg-3
      +twitta
    .col-lg-9
      .row
        ul.nav.nav-tabs
          +roomList
      .row
        .tab-content#content
          .tab-pane
            +room